@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-gris-clair: #eaeaea;
  --bg-bleu-fonce: #429ead;
  --bg-bleu-clair: #cae8f2;
  --txt-gris-fonce: #333333;
  --link-jaune: #ffd200;
  --blanc: #ffffff;
  --noir: #000000;
}

/*
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--txt-gris-fonce);
  background-color: var(--bg-gris-clair);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: var(--blanc);
  padding: 1rem;
}

nav {
  background-color: var(--bg-bleu-clair);
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav a {
  color: var(--blanc);
  font-weight: bold;
  background-color: var(--bg-bleu-fonce);
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

nav a:active,
nav a:hover,
.actif {
  color: var(--bg-bleu-fonce);
  background-color: var(--blanc);
}

main {
  background-color: var(--bg-bleu-fonce);
  padding: 10px;
}

main a {
  color: var(--link-jaune);
}

footer {
  background-color: var(--noir);
  color: var(--blanc);
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

/* PAGE ACCUEIL - INDEX.HTML */

.accueil-liste-puce,
.catalogue-table-matiere li,
.catalogue-lien-retour,
.goodies-card-image > p {
  font-weight: bold;
}

.accueil-liste,
.catalogue-table-matiere ul {
  list-style-image: url("images/book.png");
}

.accueil-img {
  width: 100%;
}

/* PAGE CATALOGUE - CATALOGUE.HTML */

.catalogue-frise {
  background: repeat url("images/bg-bd.png");
  padding: 40px;
  flex-wrap: wrap;
}

.catalogue-frise-bd {
  margin: 0 40px;
}

.catalogue-description-bd > img {
  float: left;
}

.icon-retour {
  display: none;
}

/* GOODIES */

.goodies-card {
  gap: 4rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.goodies-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodies-card-image:hover {
  background-color: var(--blanc);
  transform: translate(20px, -20px);
}

.goodies-card-image > a {
  padding: 15px 0;
}

/* CONTACT */

.contact-grid-form {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.contact-input {
  border: 2px solid var(--bg-bleu-clair);
  padding: 5px;
  border-radius: 5px;
}

/* ELEMENTS GLOBAUX */

h1 {
  color: var(--blanc);
  font-size: 30px;
  border-bottom: solid 1px var(--blanc);
}

h2 {
  color: var(--bg-bleu-clair);
  font-size: 20px;
}

hr {
  border: 1px solid var(--blanc);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  header,
  nav,
  footer {
    display: none !important;
  }

  body {
    background-color: var(--blanc);
    color: var(--noir);
    font-family: "Arial";
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 0;
  }

  iframe {
    width: 100%;
    height: calc(100vw / 1.77);
  }

  .catalogue-frise {
    padding: 0;
    flex-direction: column;
  }

  .catalogue-frise-bd {
    margin: 0;
  }

  .icon-retour {
    display: contents;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--bg-bleu-clair);
    padding: 10px;
    border-radius: 10px;
  }

  .couleur-icon-retour {
    color: var(--bg-bleu-fonce);
  }

  .goodies-card-image:hover {
    transform: translate(0, 0);
  }

  .goodies-card {
    gap: 1rem;
    padding: 10px;
  }

  .contact-grid-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
  }

  .textarea-form {
    width: 97% !important;
    height: 10vh;
  }

  .contact-boutton-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
}
