:root {
    --noir: #000000;
    --bleu-clair: #87948e;
    --bleu-marine: #2a455b;
    --bg-body: #d9d1c6;
    --bg-block: #b9c0c6;
}

* {
    box-sizing: border-box;
    /*
    margin: 0;
    padding: 0;
    */
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: var(--bg-body);
}

header, nav, main, footer {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

header, nav, footer {
    background-color: var(--bg-block);
}

main {
    background-color: #ffffff;
}

h1, h2 {
    color: var(--bleu-marine);
}

h3 {
    color: var(--bleu-clair)
}

.lien-accueil {
    color: var(--bleu-marine);
    font-weight: 700;
}

.description {
    display: flex;
    padding-bottom: 15px;;
    border-bottom: 1px solid var(--bleu-clair);
}

.description > img {
    margin-right: 5px;
}

.liste ul {
    list-style: url("images/check.png");
}

.liste li {
    color: var(--bleu-marine);
    font-weight: 700;
    font-size: 16px;
}