@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --noir: #000000;
    --bleu-clair: #87948e;
    --bleu-marine: #2a455b;
    --bg-body: #d9d1c6;
    --bg-block: #b9c0c6;
}

* {
    box-sizing: border-box;
    /*
    margin: 0;
    padding: 0;
    */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: var(--bg-body);
}

header, nav, main, footer {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

header, nav, footer {
    background-color: var(--bg-block);
}

main {
    background-color: #ffffff;
}

h1, h2 {
    font-family: "Host Grotesk", serif;
    color: var(--bleu-marine);
}

h3 {
    color: var(--bleu-clair)
}

.lien-accueil {
    color: var(--bleu-marine);
    font-weight: 700;
}

.lien-liste {
    color: var(--noir);
    font-weight: 700;
    text-decoration: none;
}

.description {
    display: flex;
    padding-bottom: 15px;;
    border-bottom: 1px solid var(--bleu-clair);
}

.description > img {
    margin-right: 5px;
}

.liste ul {
    list-style: url("images/check.png");
}

.liste li {
    color: var(--bleu-marine);
    font-weight: 700;
    font-size: 16px;
}

.icone {
    font-size: 1.5rem;
    color: var(--bleu-marine);
    margin: 0 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .description {
        flex-direction: column;
    }

    .description > img {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}